<nav>
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="#"><li>About me</li></a>
    <a href="#"><li>Contact</li></a>
  </ul>
</nav>

<style>
  a {
    text-decoration: none;
    color: var(--color-border);
    font-size: var(--font-size-base);
    transition: color 0.3s ease-in-out;
  }a:hover {
    color: #da62c4;
  }

  ul {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  li {
    list-style: none;
  }
</style>

